<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" >
    <title>Musician List</title>
</head>
<body>
    <h2>This is my frist form</h2>
    <form action="" method="post">
        {{ test_form.as_p }}
        {% csrf_token %}
        <input type="submit" name="submit" value="Submit"> 
    </form>
    <hr>
    {%if is_submitted%}
        <p> Name : {{user_name}} </p>
        <p> email : {{user_email}} </p>
        <p> DOB : {{user_dob}} </p>
    {% endif %}
</body>
</html>
